body {
  background-color: grey;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.mainHeader {
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: goldenrod;
  background-color: green;
}

.makeBurgerForm {
  font-family: 'Fredoka One', cursive;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  width: 50%;
  border: solid;
}

.topRow {
  height:inherit;
}

.noDevoured {
  background-image: url("receipt-photo.png");
  background-size: 315px 60px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  align-content: center;
}

.yesDevoured {
  background-image: url("receipt-photo.png");
  background-size: 315px 60px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

#burgerPic {
  width: 100%;
}